version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo_seguro
    # ports:
    #   - "27017:27017"  # No exponemos el puerto 27017 en el host, solo accesible desde la red interna de Docker
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER} # Usuario administrador definido en .env, no fijo en el código
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS} # Contraseña fuerte del admin en .env, no se sube al repo
      MONGO_INITDB_DATABASE: tienda
      MONGO_APP_USER: ${MONGO_APP_USER}
      MONGO_APP_PASS: ${MONGO_APP_PASS}
      MONGO_RW_USER: ${MONGO_RW_USER}
      MONGO_RW_PASS: ${MONGO_RW_PASS}
    volumes:
      - ./init_mongo.js:/docker-entrypoint-initdb.d/01-init_mongo.js:ro
      - ./scripts/init_users.sh:/docker-entrypoint-initdb.d/02-init_users.sh:ro
    command: ["mongod", "--auth"] # Hace el enforce de la autenticación de Mongo

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    container_name: es_seguro
    # ports:
    #   - "9200:9200"
    environment:
      discovery.type: single-node
      xpack.security.enabled: "true"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"

  fastapi-app:
    build: ./fastapi-app
    container_name: fastapi_seguro
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - elasticsearch
    environment:
      MONGO_HOST: mongo  # Host interno del contenedor Mongo en la red de Docker
      MONGO_DATABASE: tienda  # Base de datos de trabajo de la app
      MONGO_USER: ${MONGO_APP_USER}  # Usuario de aplicación definido en .env, con rol limitado
      MONGO_PASS: ${MONGO_APP_PASS}  # Contraseña de la app definida en .env, no hardcodeada
      ELASTIC_HOST: elasticsearch
      APP_MODE: secure
    command: uvicorn main:app --host 0.0.0.0 --port 8000

    env_file:
      - .env  # Cargamos credenciales sensibles desde un archivo ignorado en Git
