version: "3.8"
services:
  mongo:
    image: mongo:7
    ports: ["27017:27017"]
    environment: { MONGO_INITDB_DATABASE: tienda }
    volumes:
      - ./init_mongo.js:/docker-entrypoint-initdb.d/init_mongo.js:ro

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    ports: ["9200:9200"]
    environment:
      discovery.type: single-node
      xpack.security.enabled: "false"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"

  fastapi-app:
    build: ./fastapi-app
    ports: ["8000:8000"]
    depends_on: [mongo, elasticsearch]
    environment:
      MONGO_HOST: mongo
      MONGO_DATABASE: tienda
      ELASTIC_HOST: elasticsearch