services:
  mongo:
    image: mongo:7
    container_name: mongo_seguro
    # ports:
    #   - "27017:27017"  # No exponemos el puerto 27017 en el host, solo accesible desde la red interna de Docker
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER} # Usuario administrador definido en .env, no fijo en el código
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS} # Contraseña fuerte del admin en .env, no se sube al repo
      MONGO_INITDB_DATABASE: tienda
      MONGO_APP_USER: ${MONGO_APP_USER}
      MONGO_APP_PASS: ${MONGO_APP_PASS}
      MONGO_RW_USER: ${MONGO_RW_USER}
      MONGO_RW_PASS: ${MONGO_RW_PASS}
    volumes:
      # crea usuarios de autenticación y añade datos de ejemplo
      - ./init/init_mongo.sh:/docker-entrypoint-initdb.d/01-init_mongo.sh:ro
      - ./certs/mongo.pem:/mongo-certs/mongo.pem
      - ./certs/ca.pem:/mongo-certs/ca.pem
    env_file:
      - .env
    command: ["mongod", "--auth", "--tlsMode", "requireTLS",
          "--tlsCertificateKeyFile", "/mongo-certs/mongo.pem",
          "--tlsCAFile", "/mongo-certs/ca.pem"]

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    container_name: es_seguro
    # ports:
    #   - "9200:9200"
    environment:
      discovery.type: single-node
      xpack.security.enabled: "true"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
      # La contraseña se carga desde `.env` mediante la variable `ELASTIC_PASSWORD`
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
    volumes:
      # archivo evita duplicación y simplifica la configuración inicial.
      - ./init/init_elastic.sh:/docker-entrypoint-initdb.d/01-init_elasticsearch.sh:ro
    env_file:
      - .env

  fastapi-app:
    build: ./fastapi-app
    container_name: fastapi_seguro
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - elasticsearch
    environment:
      MONGO_HOST: mongo  # Host interno del contenedor Mongo en la red de Docker
      MONGO_DATABASE: tienda  # Base de datos de trabajo de la app
      MONGO_USER: ${MONGO_APP_USER}  # Usuario de aplicación definido en .env
      MONGO_PASS: ${MONGO_APP_PASS}  # Contraseña de la app definida en .env
      ELASTIC_HOST: elasticsearch
      APP_MODE: secure
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --ssl-keyfile /app/cert.key --ssl-certfile /app/cert.crt
    volumes:
      - ./certs/cert.crt:/app/cert.crt:ro
      - ./certs/cert.key:/app/cert.key:ro
      - ./certs/ca.pem:/app/ca.pem:ro
    env_file:
      - .env  # Cargamos credenciales sensibles desde un archivo ignorado en Git
